<div class="auth-container">
  <form [formGroup]="forgotForm" class="auth-form" (ngSubmit)="sendReset()">
    <h1>Wachtwoord vergeten</h1>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Emailadres</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
        Email is verplicht
      </mat-error>
      <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
        Ongeldig e-mailadres
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="forgotForm.invalid">
      Verzend herstel-link
    </button>
  
    <div class="auth-links">
      <a routerLink="/login">Terug naar login</a>
    </div>
  </form>
</div>
