a {
    color: var(--color-text);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .token-timer {
    font-size: 0.9rem;
    color: white;
    margin-right: 16px;
    font-weight: 500;
    white-space: nowrap;
  }
  

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-header-bg);
    padding: 20px;
    position: relative;
  }
  
  .accountbutton {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: none;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  