<mat-toolbar color="primary" class="header">
  <a routerLink="/"></a>

  <span class="spacer"></span>

  <span class="token-timer" *ngIf="tokenTimeValid > 0">
    🔒 Token: {{ tokenTimeValid }}s
  </span>

  <button
    mat-button
    [matMenuTriggerFor]="menu"
    class="accountbutton">
    <mat-icon>person</mat-icon>
    {{ user?.firstName || 'Account' }}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Uitloggen</span>
    </button>
  </mat-menu>
</mat-toolbar>
