<nav class="sidebar" [class.open]="isOpen">
    
  <h1 class="logo-container">
    <img src="assets/Logo.png" alt="Logo" class="logo"
 alt="Logo" class="logo" />
    <span *ngIf="isOpen">WebShop</span>
  </h1>
  

  <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>dashboard</mat-icon>
    <span *ngIf="isOpen">Dashboard</span>
  </a>
  
  <a routerLink="/category" routerLinkActive="active">
    <mat-icon>category</mat-icon>
    <span *ngIf="isOpen">Categorieën</span>
  </a>
  
  <a [class.a-open]="isOpen" routerLink="/products" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="isOpen">Producten</span>
  </a>
  
  <a routerLink="/clients" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span *ngIf="isOpen">Klanten</span>
  </a>
  
    
    <button class="toggle-button" (click)="toggleSidenav()">
      <span *ngIf="isOpen">Collapse</span>
        <mat-icon>{{ isOpen ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
    </button>  
</nav>
  