.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f6f8;
    padding: 0;
    margin: 0;
  }
  
  .register-box {
    display: flex;
    max-width: 900px;
    max-height: 750px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: column;
  
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  .submit-button {
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
    background-color: #128067;

    &:hover:not(:disabled) {
      background-color: #157d65;
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
  .register-image-section {
    display: none;
  
    @media (min-width: 768px) {
      display: block;
      width: 50%;
      background: #1b9277;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  
  .register-form-section {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 768px) {
      width: 50%;
      padding: 2rem;
    }
  
    .logo {
      width: 60px;
      margin-bottom: 0.5rem;
    }
  
    .register-card {
      width: 100%;
      background: transparent;
      box-shadow: none;
    }
  
    .title {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .full-width {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  
    .submit-button {
      width: 100%;
      margin-top: 0.5rem;
    }
  
    .error-message {
      color: red;
      text-align: center;
      margin-top: 0.5rem;
    }
  
    .redirect-link {
      text-align: center;
      margin-top: 0.5rem;
  
      a {
        color: #1b9277;
        text-decoration: none;
      }
    }
  }
  