.dashboard-card {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;

  mat-card-header {
    margin-bottom: 15px;
    mat-card-title {
      font-weight: 700;
      font-size: 1.5rem;
    }
    mat-card-subtitle {
      font-size: 1rem;
      color: #666;
    }
  }

  canvas {
    display: block;
    width: 100% !important;
    height: 350px !important;
  }
}
